<a href="https://colab.research.google.com/github/102040613/10204/blob/main/pandas_02_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame**
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터

## **pandas 라이브러리 추가**

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### 복습문제) 
다음 4개의 리스트를 이용하여 각 지역별 평균, 최대, 최소값 리스트를 값으로 가지는 딕션너라를 작성하시오.
* 데이터참고:https://www.airkorea.or.kr/web/weekSearch?pMENU_NO=111
```
area = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]
```

In [3]:
area = ['서울',	'부산',	'대구',	'인천',	'광주',	'대전',	'울산',	'세종',	'경기',	'강원',	'충북',	'충남',	'전북',	'전남',	'경북',	'경남',	'제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]

In [4]:
print(area)

['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']

## 데이터프레임으로 변환
* **pd.DataFrame()**

###  리스트를 데이터프레임으로 변환

In [ ]:
df = pd.DataFrame(area)
df

In [6]:
df = pd.DataFrame(area)
print(df, type(df))

     0
0   서울
1   부산
2   대구
3   인천
4   광주
5   대전
6   울산
7   세종
8   경기
9   강원
10  충북
11  충남
12  전북
13  전남
14  경북
15  경남
16  제주 <class 'pandas.core.frame.DataFrame'>

In [7]:
df

     0
0   서울
1   부산
2   대구
3   인천
4   광주
5   대전
6   울산
7   세종
8   경기
9   강원
10  충북
11  충남
12  전북
13  전남
14  경북
15  경남
16  제주

In [8]:
df['평균'] = pm25_avg
df['최대'] = pm25_max
df['최소'] = pm25_min
df

     0  평균  최대  최소
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

### 딕션너리를 데이터프레임으로 변환
* 딕션너리 키 : 열(column)
* 딕션너리 값 : 행(row)

In [ ]:
df = pd.DataFrame(dt)
df

In [ ]:
df = pd.DataFrame()
df['area'] = area
df['avg'] = pm25_avg
df['max'] = pm25_max
df['min'] = pm25_min
df

In [12]:
temp = list(zip(area,pm25_avg,pm25_max,pm25_min ))
print(temp)
df2 = pd.DataFrame(temp)
df2.columns = ['area', 'avg', 'max', 'min']
df2

[('서울', 20, 22, 16), ('부산', 13, 18, 10), ('대구', 15, 18, 11), ('인천', 20, 30, 12), ('광주', 19, 23, 15), ('대전', 16, 20, 12), ('울산', 14, 16, 11), ('세종', 18, 19, 17), ('경기', 20, 27, 13), ('강원', 14, 18, 9), ('충북', 19, 26, 14), ('충남', 23, 29, 19), ('전북', 23, 30, 14), ('전남', 14, 27, 10), ('경북', 15, 23, 8), ('경남', 13, 17, 9), ('제주', 14, 16, 11)]

   area  avg  max  min
0    서울   20   22   16
1    부산   13   18   10
2    대구   15   18   11
3    인천   20   30   12
4    광주   19   23   15
5    대전   16   20   12
6    울산   14   16   11
7    세종   18   19   17
8    경기   20   27   13
9    강원   14   18    9
10   충북   19   26   14
11   충남   23   29   19
12   전북   23   30   14
13   전남   14   27   10
14   경북   15   23    8
15   경남   13   17    9
16   제주   14   16   11

In [ ]:
dtz = list(zip(area,pm25_avg,pm25_max,pm25_min ))

df = pd.DataFrame(dtz)
df.columns = ['area', 'avg', 'max', 'min']
df

## 외부 데이터 가져오기
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.read_excel(‘파일명‘)
```

In [16]:
#지역별주간별_초미세먼지.csv 가져오기 
df = pd.read_csv('/content/drive/MyDrive/파이선특강/python2021/data/지역별주간별_초미세먼지.csv', engine='python', encoding='cp949')
df

   지역   주간평균   최고값   최저값
0   서울     20    22    16
1   부산     13    18    10
2   대구     15    18    11
3   인천     20    30    12
4   광주     19    23    15
5   대전     16    20    12
6   울산     14    16    11
7   세종     18    19    17
8   경기     20    27    13
9   강원     14    18     9
10  충북     19    26    14
11  충남     23    29    19
12  전북     23    30    14
13  전남     14    27    10
14  경북     15    23     8
15  경남     13    17     9
16  제주     14    16    11

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인
* 데이터프레임의 인덱스 
 + 열의 인덱스 : **df.colums**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [17]:
#데이터프레임의 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      17 non-null     object
 1   주간평균    17 non-null     int64
 2   최고값     17 non-null     int64
 3   최저값     17 non-null     int64
dtypes: int64(3), object(1)
memory usage: 672.0+ bytes

In [19]:
df.index

RangeIndex(start=0, stop=17, step=1)

In [106]:
df.count()

No           299
구분           299
학교종류         299
설립유형         299
주야구분         299
학과특성         299
표준분류계열(대)    299
표준분류계열(중)    299
표준분류계열(소)    299
특성화학과          0
관심             0
dtype: int64

In [18]:
#데이터프레임의 크기 확인
print('데이터프레임 (행, 열) : ', df.shape)
print('데이터프레임 행 개수 len : ', len(df) )
print('데이터프레임 행 개수 len : ', len(df.index) )
print('데이터프레임 행 개수 shape : ', df.shape[0] )
print('데이터프레임 열 개수 len : ', len(df.columns) )
print('데이터프레임 열 개수 shape : ', df.shape[1] )

데이터프레임 (행, 열) :  (17, 4)
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 len :  17
데이터프레임 행 개수 shape :  17
데이터프레임 열 개수 len :  4
데이터프레임 열 개수 shape :  4

In [21]:
#데이터프레임 각 열의개수 확인
print(df.count())
print('-'*20)
print(df.count(axis='columns'))

지역       17
주간평균     17
최고값      17
최저값      17
dtype: int64
--------------------
0     4
1     4
2     4
3     4
4     4
5     4
6     4
7     4
8     4
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    4
dtype: int64

In [ ]:
#데이터프레임의 원소의 총개수
print(df.size)

In [22]:
#데이터프레임의 인덱스
print('열인덱스 : ', df.columns)
print('행인덱스 :', df.index)

열인덱스 :  Index(['지역 ', '주간평균 ', '최고값 ', '최저값 '], dtype='object')
행인덱스 : RangeIndex(start=0, stop=17, step=1)

In [23]:
df['최고값 ']

0     22
1     18
2     18
3     30
4     23
5     20
6     16
7     19
8     27
9     18
10    26
11    29
12    30
13    27
14    23
15    17
16    16
Name: 최고값 , dtype: int64

In [24]:
#열명의 공백 제거 
df.columns = [item.strip() for item in df.columns]
df.columns

Index(['지역', '주간평균', '최고값', '최저값'], dtype='object')

In [27]:
df.tail(2)

    지역  주간평균  최고값  최저값
15  경남    13   17    9
16  제주    14   16   11

In [25]:
df['최고값']

0     22
1     18
2     18
3     30
4     23
5     20
6     16
7     19
8     27
9     18
10    26
11    29
12    30
13    27
14    23
15    17
16    16
Name: 최고값, dtype: int64

In [28]:
#지역 컬럼을 행 인덱스로 지정
df = df.set_index('지역')
df

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [29]:
df.index

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주'],
      dtype='object', name='지역')

In [ ]:
#인덱스를 일반 데이터 열로 전환
df = df.reset_index()
df

## **데이터프레임 인덱싱(indexing)과 슬라이싱(slicing)**

In [ ]:
df = df.set_index('지역')
df.head()

### df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스]

In [32]:
#특정 열 가져오기
df[['주간평균']]

    주간평균
지역
서울    20
부산    13
대구    15
인천    20
광주    19
대전    16
울산    14
세종    18
경기    20
강원    14
충북    19
충남    23
전북    23
전남    14
경북    15
경남    13
제주    14

In [31]:
df[['주간평균','최고값']]

    주간평균  최고값
지역
서울    20   22
부산    13   18
대구    15   18
인천    20   30
광주    19   23
대전    16   20
울산    14   16
세종    18   19
경기    20   27
강원    14   18
충북    19   26
충남    23   29
전북    23   30
전남    14   27
경북    15   23
경남    13   17
제주    14   16

In [ ]:
#특정행 가져오기
df['부산':'인천']

### df.loc[행인덱스, 열인덱스]
* 특정 열 가져오기 : df.loc[:, 열인덱스]
* 특정 행 가져오기 : df.loc[행인덱스, :]
* 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

In [33]:
df.head()

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15

In [34]:
df[['최저값']]

    최저값
지역
서울   16
부산   10
대구   11
인천   12
광주   15
대전   12
울산   11
세종   17
경기   13
강원    9
충북   14
충남   19
전북   14
전남   10
경북    8
경남    9
제주   11

In [40]:
#특정 열 가져오기
df.loc[:'대구', '최저값']

지역
서울    16
부산    10
대구    11
Name: 최저값, dtype: int64

In [36]:
df.loc[:, ['주간평균', '최저값']]

    주간평균  최저값
지역
서울    20   16
부산    13   10
대구    15   11
인천    20   12
광주    19   15
대전    16   12
울산    14   11
세종    18   17
경기    20   13
강원    14    9
충북    19   14
충남    23   19
전북    23   14
전남    14   10
경북    15    8
경남    13    9
제주    14   11

In [43]:
df.loc[:, '주간평균':'최저값']

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [45]:
df.loc['울산', :'최고값']

주간평균    14
최고값     16
Name: 울산, dtype: int64

In [ ]:
#특정 행 가져오기
df.loc['부산',:]

In [ ]:
df.loc[['부산', '인천'], :]

In [ ]:
df.loc['부산':'인천', :]

In [41]:
#특정 항목 가져오기
df.loc['부산', '주간평균']

13

In [42]:
df.loc[['부산','인천'],['주간평균', '최저값']]

    주간평균  최저값
지역
부산    13   10
인천    20   12

In [ ]:
df.loc['부산':'인천','주간평균':'최저값']

### df.iloc[행인덱스순서, 열인덱스순서]
* 특정 열 가져오기 : df.loc[:, 열인덱스순서]
* 특정 행 가져오기 : df.loc[행인덱스순서, :]
* 특정 항목 가져오기 : df.loc[행인덱스순서, 열인덱스순서]

In [46]:
df.index

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주'],
      dtype='object', name='지역')

In [47]:
df.columns

Index(['주간평균', '최고값', '최저값'], dtype='object')

In [ ]:
#특정 열 가져오기
#df.loc[:, '최저값'] 
df.iloc[:, 2]

In [ ]:
#df.loc[:, ['주간평균', '최저값']]
df.iloc[:, [0, 2]]

In [ ]:
#df.loc[:, '주간평균':'최저값']
df.iloc[:, 0:2]

In [ ]:
#특정 행 가져오기
#df.loc['부산',:]
df.iloc[1,:]

In [ ]:
#df.loc[['부산', '인천'], :]
df.iloc[[1, 3], :]

In [ ]:
#df.loc['부산':'인천', :]
df.iloc[1:4, :]

In [ ]:
#특정 항목 가져오기
#df.loc['부산', '주간평균']
df.iloc[1, 0]

In [ ]:
#df.loc[['부산','인천'],['주간평균', '최저값']]
df.iloc[[0,3],[0, 2]]

In [ ]:
#df.loc['부산':'인천','주간평균':'최저값']
df.iloc[1:4,0:3]

## **데이터프레임(DataFrame) 기본 조회와 기초 통계 메소드**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [48]:
df.describe()

            주간평균        최고값        최저값
count  17.000000  17.000000  17.000000
mean   17.058824  22.294118  12.411765
std     3.399827   5.009550   3.063063
min    13.000000  16.000000   8.000000
25%    14.000000  18.000000  10.000000
50%    16.000000  22.000000  12.000000
75%    20.000000  27.000000  14.000000
max    23.000000  30.000000  19.000000

## 자주사용되는 메소드

### 행열 전환 : df.T

In [ ]:
df2 = df.T
df2

### 정렬
+ 행열 인덱스 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
+ 행렬 값 정렬 : df.sort_values()

In [49]:
df

    주간평균  최고값  최저값
지역
서울    20   22   16
부산    13   18   10
대구    15   18   11
인천    20   30   12
광주    19   23   15
대전    16   20   12
울산    14   16   11
세종    18   19   17
경기    20   27   13
강원    14   18    9
충북    19   26   14
충남    23   29   19
전북    23   30   14
전남    14   27   10
경북    15   23    8
경남    13   17    9
제주    14   16   11

In [52]:
df.sort_index()

    주간평균  최고값  최저값
지역
강원    14   18    9
경기    20   27   13
경남    13   17    9
경북    15   23    8
광주    19   23   15
대구    15   18   11
대전    16   20   12
부산    13   18   10
서울    20   22   16
세종    18   19   17
울산    14   16   11
인천    20   30   12
전남    14   27   10
전북    23   30   14
제주    14   16   11
충남    23   29   19
충북    19   26   14

In [ ]:
df.sort_values('주간평균', ascending=False)

### 문자열 처리
* df['열명'].str

In [56]:
data = pd.read_excel('/content/drive/MyDrive/파이선특강/python2021/data/특성화학과정보_컴퓨터.xlsx')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             137 non-null    int64
 1   학과명            137 non-null    object
 2   대학명            137 non-null    object
 3   폐과             0 non-null      float64
 4   학과 특성화명        137 non-null    object
 5   특성화 구분         137 non-null    object
 6   특성화분류 (대-중-소)  137 non-null    object
 7   Unnamed: 7     137 non-null    object
 8   Unnamed: 8     137 non-null    object
 9   구분             137 non-null    object
 10  학교종류           137 non-null    object
 11  지역             137 non-null    object
 12  설립유형           137 non-null    object
 13  주야구분           137 non-null    object
 14  표준분류계열(대)      137 non-null    object
 15  표준분류계열(중)      137 non-null    object
 16  표준분류계열(소)      137 non-null    object
 17  관심             0 non-null      float64
dtypes: float64(2), int64(1), object(15)
memory usage: 19.4+ KB

In [59]:
s ='울산과학대학교'
s[:-3]

'울산과학'

In [60]:
data.head()

   No                학과명    대학명  폐과  ... 표준분류계열(대)  표준분류계열(중)  표준분류계열(소)  관심
0   1  IT융합학부 컴퓨터정보·보안전공  우송대학교 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
1   2              디자인학부  세명대학교 NaN  ...     예체능계열         미술        디자인 NaN
2   3            소프트웨어학부  중앙대학교 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
3   4        융합컴퓨터·미디어학부  목원대학교 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN
4   5   전기전자컴퓨터학부 컴퓨터과학과  상명대학교 NaN  ...      공학계열  전기・전자・컴퓨터  전산학・컴퓨터공학 NaN

[5 rows x 18 columns]

In [61]:
data['대학명'] = data['대학명'].str[:-3]

In [ ]:
data['대학명'].str[:-3]

In [67]:
area = list(data['지역'].drop_duplicates())
area

['대전',
 '충북',
 '서울',
 '강원',
 '경북',
 '전북',
 '전남',
 '부산',
 '광주',
 '경기',
 '인천',
 '충남',
 '경남',
 '대구',
 '제주',
 '세종',
 '울산']

In [64]:
seoul = data[data['지역'] == '서울']
seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 2 to 116
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             19 non-null     int64
 1   학과명            19 non-null     object
 2   대학명            19 non-null     object
 3   폐과             0 non-null      float64
 4   학과 특성화명        19 non-null     object
 5   특성화 구분         19 non-null     object
 6   특성화분류 (대-중-소)  19 non-null     object
 7   Unnamed: 7     19 non-null     object
 8   Unnamed: 8     19 non-null     object
 9   구분             19 non-null     object
 10  학교종류           19 non-null     object
 11  지역             19 non-null     object
 12  설립유형           19 non-null     object
 13  주야구분           19 non-null     object
 14  표준분류계열(대)      19 non-null     object
 15  표준분류계열(중)      19 non-null     object
 16  표준분류계열(소)      19 non-null     object
 17  관심             0 non-null      float64
dtypes: float64(2), int64(1), object(15)
memory usage: 2.8+ KB

### 그룹화
* 데이터를 그룹별로 분류
* df.groupby(인수)
  + 열 또는 열의 리스트
  + 행 인덱스
* 그룹 연산 메소드
  + size, count: 그룹 데이터의 갯수
  + mean, median, min, max: 그룹 데이터의 평균, 중앙값, 최소, 최대
  + sum, prod, std, var, quantile : 그룹 데이터의 합계, 곱, 표준편차, 분산, 사분위수
  + first, last: 그룹 데이터 중 가장 첫번째 데이터와 가장 나중 데이터

In [73]:
datag = data.groupby('지역')[['대학명']].count()
datag.sort_values('대학명', ascending=False)

    대학명
지역
경기   21
서울   19
충북   12
대전   11
부산   11
대구    9
경북    8
충남    7
광주    6
인천    6
전북    6
경남    5
전남    5
제주    5
강원    4
세종    1
울산    1

In [72]:
data.groupby('지역')[['대학명']].count()

    대학명
지역
강원    4
경기   21
경남    5
경북    8
광주    6
대구    9
대전   11
부산   11
서울   19
세종    1
울산    1
인천    6
전남    5
전북    6
제주    5
충남    7
충북   12

In [79]:
pusan = pd.read_csv('/content/drive/MyDrive/파이선특강/python2021/data/부산대1821.csv', engine='python', encoding='cp949')

### 시계열 자료
* **pd.to_datetime()** : 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 변환
* **dt 접근자** : datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용
  +  year, month, day, weekday 등의 속성을 이용하면 년, 월, 일, 요일 정보 추출

dt 접근자 | 내용 
-------------------|------------------
.dt.date         | YYYY-MM-DD(문자)
.dt.year         | 연(4자리숫자)
.dt.month        | 월(숫자)
.dt.month_name() | 월(문자)
.dt.day          | 일(숫자)
.dt.time         | HH:MM:SS(문자)
.dt.hour         | 시(숫자)
.dt.minute       | 분(숫자)
.dt.second       | 초(숫자)
.dt.quarter       | 분기(숫자)
.dt.day_name()  | 요일이름(문자)  
.dt.weekday       | 요일숫자(0-월, 1-화) (=dayofweek)
.dt.weekofyear    | 연 기준 몇주째(숫자) (=week)
.dt.dayofyear     | 연 기준 몇일째(숫자)
.dt.days_in_month | 월 일수(숫자) (=daysinmonth)

In [80]:
data = pd.read_csv('/content/drive/MyDrive/파이선특강/python2021/data/air.csv', encoding='cp949')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      591 non-null    object
 1   PM10_1  589 non-null    object
 2   PM10_2  589 non-null    float64
 3   PM25_1  589 non-null    object
 4   PM25_2  589 non-null    float64
 5   O3_1    589 non-null    object
 6   O3_2    589 non-null    float64
 7   NO2_1   589 non-null    object
 8   NO2_2   589 non-null    float64
 9   CO_1    589 non-null    object
 10  Co_2    589 non-null    float64
 11  SO2_1   589 non-null    object
 12  SO2_2   589 non-null    float64
dtypes: float64(6), object(7)
memory usage: 60.1+ KB

In [81]:
data.head()

              날짜 PM10_1  PM10_2 PM25_1  PM25_2  ...  NO2_2  CO_1 Co_2  SO2_1  SO2_2
0  2021-04-25:15     좋음    23.0     좋음    10.0  ...  0.008    좋음  0.3     좋음  0.002
1  2021-04-25:14     좋음    24.0     좋음    10.0  ...  0.007    좋음  0.3     좋음  0.002
2  2021-04-25:13     좋음    27.0     좋음     8.0  ...  0.009    좋음  0.3     좋음  0.002
3  2021-04-25:12     좋음    23.0     좋음     9.0  ...  0.009    좋음  0.3     좋음  0.002
4  2021-04-25:11     좋음    27.0     좋음    12.0  ...  0.007    좋음  0.3     좋음  0.002

[5 rows x 13 columns]

In [84]:
data['day'] = data['날짜'].str[:-3]
data.head()

           날짜 PM10_1  PM10_2 PM25_1  PM25_2  ... CO_1  Co_2 SO2_1  SO2_2      day
0  2021-04-25     좋음    23.0     좋음    10.0  ...   좋음   0.3    좋음  0.002  2021-04
1  2021-04-25     좋음    24.0     좋음    10.0  ...   좋음   0.3    좋음  0.002  2021-04
2  2021-04-25     좋음    27.0     좋음     8.0  ...   좋음   0.3    좋음  0.002  2021-04
3  2021-04-25     좋음    23.0     좋음     9.0  ...   좋음   0.3    좋음  0.002  2021-04
4  2021-04-25     좋음    27.0     좋음    12.0  ...   좋음   0.3    좋음  0.002  2021-04

[5 rows x 14 columns]

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      591 non-null    object
 1   PM10_1  589 non-null    object
 2   PM10_2  589 non-null    float64
 3   PM25_1  589 non-null    object
 4   PM25_2  589 non-null    float64
 5   O3_1    589 non-null    object
 6   O3_2    589 non-null    float64
 7   NO2_1   589 non-null    object
 8   NO2_2   589 non-null    float64
 9   CO_1    589 non-null    object
 10  Co_2    589 non-null    float64
 11  SO2_1   589 non-null    object
 12  SO2_2   589 non-null    float64
 13  day     591 non-null    object
dtypes: float64(6), object(8)
memory usage: 64.8+ KB

In [86]:

data['day'] = pd.to_datetime(data['day'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      591 non-null    object
 1   PM10_1  589 non-null    object
 2   PM10_2  589 non-null    float64
 3   PM25_1  589 non-null    object
 4   PM25_2  589 non-null    float64
 5   O3_1    589 non-null    object
 6   O3_2    589 non-null    float64
 7   NO2_1   589 non-null    object
 8   NO2_2   589 non-null    float64
 9   CO_1    589 non-null    object
 10  Co_2    589 non-null    float64
 11  SO2_1   589 non-null    object
 12  SO2_2   589 non-null    float64
 13  day     591 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(7)
memory usage: 64.8+ KB

In [88]:
data['요일'] = data['day'].dt.day_name()
data

             날짜 PM10_1  PM10_2 PM25_1  ...  SO2_1  SO2_2        day        요일
0    2021-04-25     좋음    23.0     좋음  ...     좋음  0.002 2021-04-01  Thursday
1    2021-04-25     좋음    24.0     좋음  ...     좋음  0.002 2021-04-01  Thursday
2    2021-04-25     좋음    27.0     좋음  ...     좋음  0.002 2021-04-01  Thursday
3    2021-04-25     좋음    23.0     좋음  ...     좋음  0.002 2021-04-01  Thursday
4    2021-04-25     좋음    27.0     좋음  ...     좋음  0.002 2021-04-01  Thursday
..          ...    ...     ...    ...  ...    ...    ...        ...       ...
586  2021-04-01     보통    38.0     보통  ...     좋음  0.003 2021-04-01  Thursday
587  2021-04-01     보통    36.0     보통  ...     좋음  0.003 2021-04-01  Thursday
588  2021-04-01     보통    41.0     보통  ...     좋음  0.003 2021-04-01  Thursday
589  2021-04-01     보통    37.0     보통  ...     좋음  0.003 2021-04-01  Thursday
590  2021-04-01     보통    39.0     보통  ...     좋음  0.003 2021-04-01  Thursday

[591 rows x 15 columns]



---
## 해결문제 


---

대학알리미 사이트에서 표준분류 정보 검색을 통해 '컴퓨터'관련 학과를 검색한 정보를 받아서 자료를 분석하시오.

1.'대학명','학과명', '지역', '설립유형', '표준분류계열(대)'

2.부산지역의 국립 대학 추출

In [108]:
df = pd.read_excel('/content/drive/MyDrive/a.xlsx')
df

      No              학과명               대학명  ...  표준분류계열(소) 특성화학과  관심
0      1           컴퓨터공학과             가천대학교  ...  전산학ㆍ컴퓨터공학   NaN NaN
1      2         컴퓨터정보공학부            가톨릭대학교  ...  전산학ㆍ컴퓨터공학   NaN NaN
2      3           컴퓨터공학과           강릉원주대학교  ...  전산학ㆍ컴퓨터공학   NaN NaN
3      4           컴퓨터공학과             강원대학교  ...  전산학ㆍ컴퓨터공학   NaN NaN
4      5           컴퓨터공학부             건국대학교  ...  전산학ㆍ컴퓨터공학   NaN NaN
..   ...              ...               ...  ...        ...   ...  ..
294  295           컴퓨터공학과  한양대학교(ERICA) 대학원  ...  전산학ㆍ컴퓨터공학   NaN NaN
295  296           컴퓨터공학과       호남대학교 일반대학원  ...  전산학ㆍ컴퓨터공학   NaN NaN
296  297  컴퓨터공학과(학연산협동과정)         호서대학교 대학원  ...  전산학ㆍ컴퓨터공학   NaN NaN
297  298           컴퓨터공학과         호서대학교 대학원  ...  전산학ㆍ컴퓨터공학   NaN NaN
298  299           컴퓨터공학과         홍익대학교 대학원  ...  전산학ㆍ컴퓨터공학   NaN NaN

[299 rows x 14 columns]

In [115]:
df1 = df[(df['학과명']=='컴퓨터공학과') & (df['지역']=='부산') & (df['설립유형']=='국립') & (df['표준분류계열(대)']=='공학') & (df['대학명']=='부산대학교')]
df1

    No     학과명    대학명  구분 학교종류  ... 표준분류계열(대)  표준분류계열(중)  표준분류계열(소) 특성화학과  관심
58  59  컴퓨터공학과  부산대학교  본교  대학교  ...        공학  전기ㆍ전자ㆍ컴퓨터  전산학ㆍ컴퓨터공학   NaN NaN

[1 rows x 14 columns]